<!DOCTYPE html>
<html>
<head>
    <title>Chat Page</title>
</head>
<body>
    <h1>Welcome to the Chat Page</h1>
    <div id="chat-container">
        <ul id="message-list">
            <!-- Messages will be displayed here -->
        </ul>
    </div>

    <form id="message-form">
        <input type="text" name="message" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>

    <div id="messages"></div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`;
        
        const chatSocket = new WebSocket(url)
        
        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')
                
                messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}</p>
                                    </div>`)
            }
        }

        let form = document.getElementById('message-form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })

    </script>
</body>
</html>
